// vars
$omniblue: #2a76c8;
$omnipink: #ea298a;
$omnigray: #e6e6e6;

$txtOffBlue: #d0e4f4;
$txtOffWhite: #d7d7d7;
$txtBlack: #333;
$hoverBlack: #999;

$bgBlack: #1c1c1c;
$bgGray: #f4f4f4;

$headerWidth: 100px;
$navLayerDuration: .4s;
$navLayerDurationPlus: .1;